.button{
    border-radius: 20px;
    background: #2463FF;
    box-shadow: 0px -2px 0px 3px #140E66 inset;
    padding: 2.4rem;
    border: none;

    color: #FFF;
    text-align: center;
    font-size: 2.4rem;
    line-height: 120%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 100%;
    
}

.link{
    width: 100%;
}

@media screen and (min-width: 768px){
    .button{
        font-size: 4.8rem;
        letter-spacing: 0.24rem;
        border-radius: 4rem;
        padding: 6.2rem 0rem;
    }
}

@media screen and (min-width: 992px){
    .button:hover{
        cursor: pointer;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), #2463FF;
    }
}