.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2.4rem;
    column-gap: 0.8rem;
    padding: 1.5rem;
}

@media screen and (min-width: 768px){
    .container{
        column-gap: 1.6rem;
        padding: 3.2rem;
    }
}

@media screen and (min-width: 992px){
    .container{
        column-gap: 2.4rem;
        padding: 8rem 4rem;
        margin: auto;
        max-width: 129.2rem;
    }
}